$base-pixel-size: 16;

/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = *
    FONTS
* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */
$font-header: 'Overpass', sans-serif;
$font-body: 'Heebo', sans-serif;
$font-secondary: Cambria, sans-serif;

$font-color: #777777;
$font-color-dark: darken($font-color, 30%);
$font-color-light: lighten($font-color, 30%);

/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = *
    COLORS
* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */
$color-primary: #15D683;
$color-primary-dark: darken($color-primary, 35%);
$color-primary-light: lighten($color-primary, 15%);

$color-secondary: #64a5f9;
$color-secondary-dark: darken($color-secondary, 15%);
$color-secondary-light: lighten($color-secondary, 15%);

$color-third: #f3878d;
$color-third-dark: darken($color-third, 15%);
$color-third-light: lighten($color-third, 15%);

$gray10: darken(white, 10%);
$gray20: darken(white, 20%);
$gray30: darken(white, 30%);
$gray40: darken(white, 40%);
$gray50: darken(white, 50%);
$gray60: darken(white, 60%);
$gray70: darken(white, 70%);
$gray80: darken(white, 80%);
$gray90: darken(white, 90%);

/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = *
    LAYOUT
* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */
$content-width: 1000px;
$grid-gutter: 16px;

// responsive breakpoints
$breakpoints: (
    xs: 360,
    sm: 720,
    md: 1024,
    lg: 1392
);

/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = *
    UTILS
* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */
$border: 1px solid $color-primary;
$border-gray: 1px solid #dddddd;
$box-radius: 10px;
$shadow: 0px 2px 2px rgba(black, 0.15);
