.cols {
    @include layout-flex(initial, initial, initial, wrap);

    .col {
        box-sizing: border-box;
    }
    .col-no-grow {
        flex-grow: 0 !important;
    }


    .col-half {
        flex: 1 0 50%;
    }
    .col-third {
        flex: 1 0 33%;
    }
    .col-two-thirds {
        flex: 1 0 66%;
    }

    .col-fourth {
        flex: 1 0 25%;
    }
    .col-three-fourths {
        flex: 1 0 75%;
    }
    
    .col-fifth {
        flex: 1 0 20%;
    }
    .col-two-fifths {
        flex: 1 0 40%;
    }
    .col-three-fifths {
        flex: 1 0 60%;
    }
    .col-four-fifths {
        flex: 1 0 80%;
    }
}

.left {
    float: left;
}
.right {
    float: right;
}

.centered {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.center-text {
    text-align: center;
}

.clearfix::before, .clearfix::after, .clearfix-before::before, .clearfix-after::after {
    @include clearfix();
}

.no-margin {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.no-margin-top {
    margin-top: 0 !important;
}
.no-margin-bottom {
    margin-bottom: 0 !important;
}
